asn1crypto==0.24.0
atomicwrites==1.4.0
attrs==21.2.0
backports.functools-lru-cache==1.6.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
enum34==1.1.6
funcsigs==1.0.2
idna==2.6
importlib-metadata==2.1.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.6
pluggy==0.13.1
py==1.10.0
pybind11==2.7.1
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
pytest==4.6.11
pyxdg==0.25
scandir==1.10.0
SecretStorage==2.3.1
six==1.16.0
wcwidth==0.2.5
zipp==1.2.0
